<ion-app>
<ion-header>
  <ion-row>
    <ion-col size="2">
    </ion-col>
    <ion-col size="2" offset="8">
      <ion-icon name="airplane-sharp"></ion-icon>
      <ion-icon name="wifi-sharp"></ion-icon>
      <ion-icon name="battery-full"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-toolbar>
    <ion-title>developers</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-backg">
  <ion-card>
    <ion-card-header align="center">
      <img src="assets/developerpics/honesto.jpg" width="250px" height="250px">
      <ion-card-subtitle align="center">Honesto G. Celestial Jr.</ion-card-subtitle>
      <ion-card-subtitle align="center">CEO</ion-card-subtitle>
      <ion-card-subtitle align="center">Full-Stack Developer</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      I'm the one who created this application using the ionic framework. My goal is to create this app for the people who like to make soups.<br><br>
      <ion-icon name="call" color="dark"></ion-icon> Contact#:09123456789<br>
      <ion-icon name="mail" color="dark"></ion-icon> Email: qhgcelestialhjr@tip.edu.ph<br>
      <ion-button color="light" href="https://www.facebook.com/honesto.celestial.9/"><ion-icon name="logo-facebook" color="secondary"></ion-icon></ion-button>
      <ion-button color="light" href="https://www.instagram.com/zxzhcelestial/"><ion-icon name="logo-instagram" color="danger"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header align="center">
      <img src="assets/developerpics/edward.jpg" width="250px" height="250px">
      <ion-card-subtitle align="center">Edward James B. Ballacillo</ion-card-subtitle>
      <ion-card-subtitle align="center">CEO</ion-card-subtitle>
      <ion-card-subtitle align="center">Front-End Developer/Wireframe</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      Edward James B. Ballacillo, is currently a 3rd year BSIT student, with a business minded personality that's why they pursue building a business. He is one of the mastermind for the creation of the content and planning for the operations.<br><br>
      <ion-icon name="call" color="dark"></ion-icon> Contact#:09123456789<br>
      <ion-icon name="mail" color="dark"></ion-icon> Email: qejbballacillo@tip.edu.ph<br>
      <ion-button color="light" href="https://www.facebook.com/ed.wardicless"><ion-icon name="logo-facebook" color="secondary"></ion-icon></ion-button>
      <ion-button color="light" href="https://www.instagram.com/istitik.eds/"><ion-icon name="logo-instagram" color="danger"></ion-icon></ion-button>
    </ion-card-content>
  </ion-card>
      <!-- ion fab with ion fab list (links of my social media accounts) -->
      <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="dark">
          <ion-icon name="arrow-back-circle-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="start">
          <ion-fab-button color="dark" href="https://www.facebook.com/">
            <ion-icon name="logo-facebook" color="primary"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="dark" href="https://twitter.com/">
            <ion-icon name="logo-twitter" color="secondary"></ion-icon>
          </ion-fab-button>
          <ion-fab-button color="dark" href="https://www.instagram.com/">
            <ion-icon name="logo-instagram" color="danger"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab>
</ion-content>
</ion-app>