@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ion toolbar background, font family */
ion-toolbar{
    --background:#FFCF40;
    font-family: 'Bebas Neue', cursive;
}
ion-title{
    font-size: 25px;
}
/* content background color */
.content-backg{
    --background: #FFDC73;
}
/* ion card/ion card title background and font family */
ion-card{
    --background:#FFBF00;
}
ion-card-title{
    font-family: 'Bebas Neue', cursive;
}
