@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



/* font family of ion-label */
.home-design{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.account-design{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.recipe-design{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.product-design{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.fav-design{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.shop-design{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.about-design{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}
.dev-design{
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
}

/* background color of ion list */
.list-backg{
    --background: #FFCF40;
}
.home-backg{
    --background:#FFBF00;
}
.account-backg{
    --background: #FFCF40;
}
.recipe-backg{
    --background: #FFCF40;
}
.product-backg{
    --background: #FFCF40;
}
.fav-backg{
    --background: #FFCF40;
}
.shop-backg{
    --background: #FFCF40;
}
.about-backg{
    --background: #FFCF40;
}
.dev-design{
    --background: #FFCF40;
}
/* picture background in ion list */
.pic-backg{
    --background: #FFCF40;
}

