<ion-app>
<ion-header>
  <ion-row>
    <ion-col size="2">
    </ion-col>
    <ion-col size="2" offset="8">
      <ion-icon name="airplane-sharp"></ion-icon>
      <ion-icon name="wifi-sharp"></ion-icon>
      <ion-icon name="battery-full"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-toolbar>
    <ion-title>My Account | Mc Soup'in</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu" color="dark"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content-backg">
<!-- user info card -->
  <ion-card>
    <ion-card-header align="center">
      <img src="assets/accountpicture/3.png" style="width:150px" height="150" class="round-img">
      <ion-card-subtitle align="center">User: Juan Dela Cruz</ion-card-subtitle>
      <ion-card-subtitle align="center">Email: juandelacruz@gmail.com</ion-card-subtitle>
      <ion-card-subtitle align="center">Address: #1 kalawakan st. jupiter city</ion-card-subtitle>
      <ion-card-subtitle align="center">Contact#: 09123456789</ion-card-subtitle>
    </ion-card-header>
  </ion-card>
<!-- Recent Transactions card -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Recent Transactions</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-row>
      <ion-col>
        <img src="assets/productpics/tinola1.jpg" height="100">
      </ion-col>
      <ion-col>
        <h2><b>Tinolang Manok</b></h2>
        <h3><b>&#8369;120</b></h3>
        <h3><b>Qty: 1</b></h3>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
<!-- Bookmarked Recipes card -->
<ion-card>
  <ion-card-header>
    <ion-card-title>Bookmarked Recipes</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <img src="assets/recipepics/cauliflower.jpg" height="300" width="350">
    <ion-card-header>
      <ion-card-title>Cauliflower Soup</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Ingredients · 1 medium head cauliflower, broken into florets · 1 medium carrot, shredded · 1/4 cup chopped celery · 2-1/2 cups water · 2 teaspoons chicken bouillon …
    </ion-card-content>
    <ion-row>
      <ion-col>
      </ion-col>
      <ion-col>
        <ion-button (click)="showRemove()" color="light">Remove</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="light" routerLink="/cauliflower">See Recipe</ion-button>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
    <!-- ion fab with ion fab list (links of my social media accounts) -->
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
      <ion-fab-button color="dark">
        <ion-icon name="arrow-back-circle-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="start">
        <ion-fab-button color="dark" href="https://www.facebook.com/">
          <ion-icon name="logo-facebook" color="primary"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" href="https://twitter.com/">
          <ion-icon name="logo-twitter" color="secondary"></ion-icon>
        </ion-fab-button>
        <ion-fab-button color="dark" href="https://www.instagram.com/">
          <ion-icon name="logo-instagram" color="danger"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
</ion-content>
</ion-app>
