@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/* ion toolbar background, font family */
ion-toolbar{
    --background:#FFCF40;
    font-family: 'Bebas Neue', cursive;
}
/* ion title css */
ion-title{
    font-size: 25px;
}
/* background color of ion app/content */
.content-backg{
    --background: #FFDC73;
}
/* round image */
.round-img {
    border-radius: 50%;
  }
/* ion card and ion card subtitle/title css */
ion-card{
    --background:#FFBF00;
}
ion-card-subtitle{
    --color:black;
    font-family: 'Bebas Neue', cursive;
    font-size: 18px;
}
ion-card-title{
    font-family: 'Bebas Neue', cursive;
}
