<ion-app>
<ion-header>
  <ion-row>
    <ion-col size="2">
    </ion-col>
    <ion-col size="2" offset="8">
      <ion-icon name="airplane-sharp"></ion-icon>
      <ion-icon name="wifi-sharp"></ion-icon>
      <ion-icon name="battery-full"></ion-icon>
    </ion-col>
  </ion-row>
  <ion-toolbar>
    <ion-title>Best Sellers | Mc Soup'in</ion-title>
    <ion-button color="dark" routerLink="/home"><ion-icon name="arrow-back-circle" color="warning"></ion-icon></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="content-backg">
 <!-- Bulalo-->
 <ion-card>
  <img src="assets/productpics/bulalo1.jpg" height="250" width="350">
  <ion-card-header>
    <ion-card-title>Bulalo</ion-card-title>
    <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
  </ion-card-header>

  <ion-card-content>
    Ingredients · 2 tablespoons olive oil · 1 medium onion, chopped · 1 medium sweet yellow pepper, chopped · 3 garlic cloves, minced · 2 cans (15 ounces each) black ..
  </ion-card-content>
  <ion-row>
    <ion-col>
      <div></div>
    </ion-col>
    <ion-col>
      <ion-button (click)="showConfirm()" color="light"><ion-icon name="cart"></ion-icon>Avail</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="showAvail()" color="light"><ion-icon name="time"></ion-icon>Reserve</ion-button>
    </ion-col>
  </ion-row>
</ion-card>
 <!-- Lapaz Batchoy -->
 <ion-card>
  <img src="assets/productpics/lapaz1.jpg" height="300" width="350">
  <ion-card-header>
    <ion-card-title>Lapaz Batchoy</ion-card-title>
    <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
  </ion-card-header>

  <ion-card-content>
    Ingredients · 2 tablespoons olive oil · 1 medium onion, chopped · 1 medium sweet yellow pepper, chopped · 3 garlic cloves, minced · 2 cans (15 ounces each) black ..
  </ion-card-content>
  <ion-row>
    <ion-col>
      <div></div>
    </ion-col>
    <ion-col>
      <ion-button (click)="showConfirm()" color="light"><ion-icon name="cart"></ion-icon>Avail</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="showAvail()" color="light"><ion-icon name="time"></ion-icon>Reserve</ion-button>
    </ion-col>
  </ion-row>
</ion-card>
 <!-- Papaitan -->
 <ion-card>
  <img src="assets/productpics/papaitan1.jpg" height="250" width="350">
  <ion-card-header>
    <ion-card-title>Papaitan</ion-card-title>
    <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
  </ion-card-header>

  <ion-card-content>
    Ingredients · 2 tablespoons olive oil · 1 medium onion, chopped · 1 medium sweet yellow pepper, chopped · 3 garlic cloves, minced · 2 cans (15 ounces each) black ..
  </ion-card-content>
  <ion-row>
    <ion-col>
      <div></div>
    </ion-col>
    <ion-col>
      <ion-button (click)="showConfirm()" color="light"><ion-icon name="cart"></ion-icon>Avail</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="showAvail()" color="light"><ion-icon name="time"></ion-icon>Reserve</ion-button>
    </ion-col>
  </ion-row>
</ion-card>
 <!-- Sinigang na baboy -->
 <ion-card>
  <img src="assets/productpics/sinigangbaboy1.jpg" height="250" width="350">
  <ion-card-header>
    <ion-card-title>Sinigang na Baboy</ion-card-title>
    <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
  </ion-card-header>

  <ion-card-content>
    Ingredients · 2 tablespoons olive oil · 1 medium onion, chopped · 1 medium sweet yellow pepper, chopped · 3 garlic cloves, minced · 2 cans (15 ounces each) black ..
  </ion-card-content>
  <ion-row>
    <ion-col>
      <div></div>
    </ion-col>
    <ion-col>
      <ion-button (click)="showConfirm()" color="light"><ion-icon name="cart"></ion-icon>Avail</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="showAvail()" color="light"><ion-icon name="time"></ion-icon>Reserve</ion-button>
    </ion-col>
  </ion-row>
</ion-card>
 <!-- Tinolang manok -->
 <ion-card>
  <img src="assets/productpics/tinola1.jpg" height="250" width="350">
  <ion-card-header>
    <ion-card-title>Tinolang Manok</ion-card-title>
    <ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon>
  </ion-card-header>

  <ion-card-content>
    Ingredients · 2 tablespoons olive oil · 1 medium onion, chopped · 1 medium sweet yellow pepper, chopped · 3 garlic cloves, minced · 2 cans (15 ounces each) black ..
  </ion-card-content>
  <ion-row>
    <ion-col>
      <div></div>
    </ion-col>
    <ion-col>
      <ion-button (click)="showConfirm()" color="light"><ion-icon name="cart"></ion-icon>Avail</ion-button>
    </ion-col>
    <ion-col>
      <ion-button (click)="showAvail()" color="light"><ion-icon name="time"></ion-icon>Reserve</ion-button>
    </ion-col>
  </ion-row>
</ion-card>
</ion-content>
</ion-app>